<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射器名字空间，即类的全限定名称 -->
<mapper namespace="com.sakura.dao.UserDao">
    <!--把实体类和数据库表字段名进行配置
    <resultMap id="UserDao" type="com.sakura.pojo.User">
        <id property="id" column="ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="loginName" column="LOGIN_NAME"/>
        <result property="loginPwd" column="LOGIN_PWD"/>
    </resultMap>-->
    <insert id="addUser" parameterType="User">
        insert into t_user(id,userName,phone,loginName,loginPwd)
        values (#{id},#{userName},#{phone},#{loginName},#{loginPwd});
    </insert>
    <delete id="deleteUser" parameterType="int">
        delete from t_user where id=#{id};
    </delete>

    <update id="updateUser" parameterType="User">
        update t_user set id=#{id},userName=#{userName},phone=#{phone},loginName=#{loginName},loginPwd=#{loginPwd}
        where id=#{id};
    </update>

    <select id="queryUser" resultType="int">
select * from t_user where id=#{id};
    </select>

    <select id="queryAllUser" resultType="User">
        select * from t_user;
    </select>
</mapper>