<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd ">
	
	<!-- 开启注解功能 -->
	<context:component-scan base-package="com.sakura.dao"></context:component-scan>
	<!-- 指定Spring容器读取db.properties文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	<!-- 将连接池注册到容器 -->
<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	  <property name="driverClass" value="${jdbc.driverClass}"></property>
  	  <property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
      <property name="user" value="${jdbc.user}"></property>
      <property name="password" value="${jdbc.password}"></property>
</bean>
<!-- 配置Mybatis的SqlSessionFactory对象（加载核心配置文件） -->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<!-- 配置数据源的引用 -->
	<property name="dataSource" ref="dataSource"></property>
		<!-- 加载mybatis的全局配置文件 -->
	<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"></property>
</bean>
<!-- 配置扫描映射接口(配置dao接口扫描包，动态的实现了dao接口可以注入到spring 容器当中) -->
<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	<!--注入sqlSessionFactory-->
	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	<!-- 配置要扫描的dao层接口的包路径，用来给接口注册对象 -->
		<property name="basePackage" value="com.sakura.dao"></property>
</bean>

<!-- 将JdbcTemplate对象注册到容器
<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
  <property name="dataSource" ref="dataSource"></property>
</bean> -->


  
</beans>